@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url(pexels-lilartsy-1257894.jpg);
    background-color: #028468;
    color: #141414;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

#homeText {
    background-color: rgba(63, 202, 179, 0.7);
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin: 0 5%;
    padding: 2em;
    border: 10px #141414 double;
}

#start {
    font-size: large;
}

nav {
    text-align: center;
}

a {
    border-bottom: none;
    color: #141414;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1% 5% 0 0;
}