@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #3fcab3;
    color: #141414;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

#homeText {
    background-color: #dcfff5;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin: 0 5%;
    padding: 2em;
}

#start {
    font-size: large;
}

nav {
    text-align: center;
}

a {
    border-bottom: none;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1% 5% 0 0;
}